



<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " >
    <!-- column -->
    <div class="col w-lg lt b-r">
        <div class="vbox">
            <div class="wrapper">
                <a href class="pull-right btn btn-sm btn-info m-t-n-xs" ng-click="create()">添加</a>
                <div class="h4" ng-click="currentPotoy=2;">鹊桥</div>
            </div>
            <div class="wrapper b-t m-t-xxs">
                <div class="input-group">
                    <span class="input-group-addon input-sm" ng-click="search();"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control input-sm" placeholder="例:login" ng-model="params.url" ng-keypress="enter($event)" >
                </div>
                <div class="form-group m-t" style="margin-bottom: 0;">

                    <div class="m-t m-b">
                        <p>
                            <a class="label bg-success active" type="success" ng-click="filterType('success')">成功</a>
                            <a class="label bg-info" type="info" ng-click="filterType('info')">未开始</a>
                            <a class="label bg-warning" type="warning" ng-click="filterType('warning')">警告</a>
                            <a class="label bg-danger" type="error" ng-click="filterType('error')">错误</a>
                            <a class="label bg-primary" type="all" ng-click="filterType('all')">全部</a>
                        </p>
                    </div>

                   <select class="form-control" ng-model="params.sysCode">
                        <option value="">请选择系统</option>
                        <option value="{{server.systemCode}}" ng-repeat=" server in  serves">
                            {{server.systemName}}
                        </option>
                   </select>



                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="padder">

                            <table-paging    preName="num" nextName="num"  is-submit="isSubmit"   refresh="refresh"  pageIndex="1"  pageSize="6"  params="params"  url="urlList"  results="posts"  resultsName="pageList"  total="total"   ng-show="posts.length > 0">
                                <div class="list-group urlListBg ">

                                    <a ng-repeat="post in posts " class=" clear list-group-item b-l-{{post.serverTestResult | colorClass}} b-l-3x    hover-anchor" ng-class="{'hover': post.selected,'active':post.active }" ng-click="select(post)">
                                        <span ng-click='delete(post)' class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                        <span class="pull-left requestType  requestType-{{post.serverTestResult | colorClass}}" >{{post.requestType | requestType}}</span>
                                        <div class="" style="margin-left: 30px;">
                                            <span class=" text-ellipsis text-ellipsis">    {{ post.urlDesc ? post.urlDesc : '这家伙很懒,么也没留下' }}</span>
                                            <small class="text-muted text-ellipsis" >{{ post.exeUrl  }}</small>
                                        </div>
                                    </a>

                                </div>

                            </table-paging>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->




    <!-- column -->
    <div class="col">
        <div class="vbox" ng-hide="note == '' ">

            <div class="row-row">
                <div class="cell" >
                    <div class="fbox text-center text-sm">
                        <a href="" class=" col padder-v text-muted b-r b-light" ng-class="{'active': currentPotoy == 1 }"   ng-click="currentPotoy=1">
                            <i class=" icon-screen-tablet block m-b-xs fa-2x"></i>
                            <span>协议配置</span>
                        </a>
                        <a href="" class="col padder-v text-muted b-r b-light" ng-click="currentPotoy=2"  ng-class="{'active': currentPotoy == 2 }">
                            <i class="icon-rocket block m-b-xs fa-2x"></i>
                            <span>测试服务端</span>
                        </a>
                        <a href="" class="col padder-v text-muted " ng-click="currentPotoy=3"  ng-class="{'active': currentPotoy == 3}">
                            <i class=" icon-paper-plane block m-b-xs fa-2x"></i>
                            <span>测试客户端</span>
                        </a>
                    </div>



                    <div style="margin-top: 120px;">



                    <div class="m-lg " >
                        <div>
                            <a class="pull-left thumb-sm avatar m-l-n-md">
                                <img src="lib/img/a1.jpg" class="img-circle" alt="...">
                            </a>
                            <div class="m-l-lg panel b-a">
                                <div class="panel-heading pos-rlt b-b b-light">
                                    <span class="arrow left"></span>
                                    <a href="">{{note.urlOwner}}</a>
                                    <label class="label bg-primary m-l-xs">{{note.requestType}}</label>

                                    <label class="label bg-info m-l-xs requestType-{{note.serverTestResult | colorClass}}" >服务端 : {{note.serverTestResult | resultCode}}</label>

                                    <label class="label bg-info m-l-xs requestType-{{note.clientTestResult | colorClass}}" >客户端 : {{note.clientTestResult | resultCode}}</label>

                                              <span class="text-muted m-l-sm pull-right">
                                                 {{note.system.systemName}}&emsp;
                                                  <i class="fa fa-clock-o"></i>
                                               {{note.modifyTime  }}
                                              </span>

                                </div>
                                <div class="panel-body">
                                    <div>
                                        {{note.urlValue}}
                                    </div>
                                    <div class="">
                                        {{note.urlDesc}}
                                    </div>

                                    <div class="m-t" ng-show="note.result.testResult == 'error' ">
                                        <div class="alert alert-danger" role="alert" style="margin-bottom: 6px;">
                                            <strong>错误</strong> {{note.result.errorInfo.errorName }}
                                        </div>
                                    </div>


                                    <div class="m-t" ng-show="note.result.testResult == 'warn' ">
                                        <div class="alert alert-warning" role="alert" style="margin-bottom: 6px;">
                                            <strong>警告</strong> {{note.result.errorInfo.errorName}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>





                        <!-- 协议说明 -->
                        <section  class="fadeShow" ng-show="currentPotoy == 1 ">
                            <!--<div class="wrapper bg-light lt b-b">-->
                                <!--<div class="m-l inline" >-->
                                    <!--<span>协议说明</span>-->
                                <!--</div>-->
                            <!--</div>-->


                            <div class="m-t m-l m-r"  style="" ng-show="note.errReq">
                                <div class="alert alert-danger" role="alert" style="margin-bottom: 6px;">
                                    <strong>Request</strong> &emsp; {{note.errReq}}
                                </div>
                            </div>

                            <div class="m-t m-l m-r"  style="" ng-show="note.errRep">
                                <div class="alert alert-danger" role="alert" style="margin-bottom: 6px;">
                                    <strong>Response</strong> &emsp; {{note.errRep}}
                                </div>
                            </div>



                                <section class="m-t">
                            <div class="col-sm-6 connected" >
                                <div class="panel panel-primary"  ng-class="{'panel-danger': note.exReq}" >
                                    <div class="panel-heading"  >
                                        Request协议
                                        <a href="" ui-toggle-class    class="pull-right bridge-edit"  >
                                            <i class="fa fa-floppy-o text-white fa-lg  text-active "  ng-click="saveReqPoto()"></i>
                                            <i class="fa fa-pencil-square-o fa-lg  text-white  text" ng-click="isReqPoto=false;"></i>
                                        </a>
                                        <!--<a class=" ib pull-right  bridge-edit">编辑</a>-->
                                    </div>
                                    <div class="list-group bg-white">
                                       <span ng-if="note.requestType == 'POST' ">

                                             <textarea   json-format   ng-readonly="isReqPoto"   rows="15"  class="form-control"   error="error"   json="note.urlRequest"  ng-model="note.urlRequest"    style="border-radius: 0;"></textarea>
                                       </span>

                                        <span ng-if="note.requestType == 'GET' ">

                                             <textarea   json-format   ng-readonly="isReqPoto"   rows="15"  class="form-control"   error="error"   json="note.paramStr"  ng-model="note.urlRequest"    style="border-radius: 0;"></textarea>
                                       </span>

                                    </div>
                                </div>


                    </div>
                            <div class="col-sm-6 connected" >
                                <div class="panel panel-success" ng-class="{'panel-danger': note.exRep}">
                                    <div class="panel-heading">
                                        Response协议
                                        <a href="" ui-toggle-class    class="pull-right bridge-edit"  >
                                            <i class="fa fa-floppy-o text-white fa-lg  text-active "  ng-click="saveResPoto()"></i>
                                            <i class="fa fa-pencil-square-o fa-lg  text-white  text" ng-click="isRepPoto=false;"></i>
                                        </a>
                                    </div>
                                    <div class="list-group bg-white">
                                       <span>
                                             <textarea    ng-readonly="isRepPoto"  json-format   rows="15"  class="form-control" error="error" json="note.urlResponse"    ng-model="note.urlResponse"  style="border-radius: 0;"></textarea>
                                       </span>
                                    </div>
                                </div>

                            </div>
                        </section>

                        </section >


                        <!-- 服务端报文部分  -->
                        <section  class="fadeShow" ng-show="currentPotoy == 2 ">

                            <!--<div class="wrapper bg-light lt b-b">-->
                                <!--&lt;!&ndash;<span class="text-muted">Created on:</span> <span>{{ note.date  | date:'MMM-dd-yyyy H:mm' }}</span>&ndash;&gt;-->
                                <!--<div class="m-l inline" >-->
                                    <!--<span>服务端测试</span>-->
                                <!--</div>-->
                            <!--</div>-->


                            <div class="m-t m-l m-r"  style="" ng-show="note.exTestReq">
                                <div class="alert alert-danger" role="alert" style="margin-bottom: 6px;">
                                    <strong>Request</strong> &emsp; {{note.errTestReq}}
                                </div>
                            </div>


                            <section class="m-t-lg m-l m-r">


                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold">
                                        测试配置
                                    </div>
                                    <div class="panel-body">
                                        <form role="form"  name="serverTestForm" class="form-inline">
                                            <div class="form-group">
                                                <label for="ipaddress" class="sr-only">ip地址</label>
                                                <input type="text" placeholder="ip地址" id="ipaddress"   ng-model="sevFm.ip" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="iport" class="sr-only">端口号</label>
                                                <input type="text" placeholder="端口号" id="iport"   ng-model="sevFm.port"  class="form-control" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="token" class="sr-only">token</label>
                                                <input type="text" placeholder="没有token,请先执行login" id="token"   style="width:188px;"  ng-model="sevFm.token"  class="form-control" required>
                                            </div>

                                                <span >

                                                    <button type="button"  class="btn  btn-success "  ng-click="serverTest()"     ng-disabled="serverTestForm.$invalid  || isServerSubmit" >
                                                        <div ng-show="isServerSubmit">
                                                            <span class="glyphicon glyphicon-refresh refresh" ></span>
                                                        </div>
                                                        <span ng-hide="isServerSubmit">开启测试</span>
                                                    </button>

                                                </span>
                                        </form>
                                    </div>
                                </div>



                                        <div class="m-t" ng-show="note.serverTestResult.testResult == 'success' ">
                                            <div class="alert alert-success" role="alert" style="margin-bottom: 6px;">
                                                <strong>{{note.serverTestResult.testTime}}</strong>&emsp;执行成功
                                            </div>
                                        </div>


                                        <div class="m-t" ng-show="note.serverTestResult.testResult == 'error' ">
                                            <div class="alert alert-danger" role="alert" style="margin-bottom: 6px;">
                                                <strong>{{note.serverTestResult.testTime}}</strong>&emsp;{{note.serverTestResult.errorDesc}}
                                            </div>
                                        </div>


                                        <div class="m-t" ng-show="note.serverTestResult.testResult == 'warn' ">
                                            <div class="alert alert-warning" role="alert" style="margin-bottom: 6px;">
                                                <strong>{{note.serverTestResult.testTime}}</strong>&emsp;{{note.serverTestResult.errorDesc}}
                                            </div>
                                        </div>

                            </section>


                            <section class="m-t">
                                <div class="col-sm-6 connected" >
                                    <div class="panel panel-success"    ng-class="{'panel-danger': note.exTestReq}"  ng-if="note.requestType == 'POST' ">
                                        <div class="panel-heading">
                                            测试报文 {{isReqTestSuper}}
                                            <a href="" ui-toggle-class    class="pull-right bridge-edit"  >
                                                <i class="fa fa-floppy-o text-white fa-lg  text-active "  ng-click="isReqTestSuper=true;saveResTest('POST')"></i>
                                                <i class="fa fa-pencil-square-o fa-lg  text-white  text" ng-click="isReqTestSuper=false"></i>
                                            </a>
                                        </div>
                                        <div class="list-group bg-white">

                                             <span >
                                                 <textarea   ng-readonly="isReqTestSuper"   json-format      rows="15"  class="form-control"   error="jsonError"   json="note.urlTestRequest.urlRequest"  ng-model="note.urlTestRequest.urlRequest"    style="border-radius: 0;"></textarea>
                                            </span>


                                        </div>
                                    </div>



                                                 <div class="panel panel-default"  ng-if="note.requestType == 'GET' ">
                                                     <div class="panel-heading font-bold">参数配置
                                                         <a href="" ui-toggle-class    class="pull-right bridge-edit"  >
                                                             <i class="fa fa-floppy-o text-muted fa-lg  text-active "  ng-click="isReqTestSuper=true;saveResTest('GET')"></i>
                                                             <i class="fa fa-pencil-square-o fa-lg  text-muted  text" ng-click="isReqTestSuper=false"></i>
                                                         </a>
                                                     </div>
                                                     <div class="panel-body">
                                                         <form role="form">
                                                             <div class="form-group" ng-repeat=" param  in  note.paramMap">
                                                                 <label>{{param.paramKey}}</label>
                                                                 <input  ng-readonly="isReqTestSuper"   type="text" class="form-control"  ng-model="param.paramType"  placeholder="填吧" required>
                                                             </div>
                                                         </form>
                                                     </div>

                                                 </div>




                                </div>
                                <div class="col-sm-6 connected" >
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            当前响应报文
                                        </div>
                                        <div class="list-group bg-white">

                                             <span>
                                                 <textarea   json-format   ng-readonly="isRepTest"   rows="15"  class="form-control" error="error"   json="note.serverTestResult.responseBody"    style="border-radius: 0;"></textarea>
                                           </span>

                                        </div>
                                    </div>


                                </div>
                            </section>


                        </section>


                        <!-- 客户端报文 -->
                        <section class="fadeShow" ng-show="currentPotoy == 3 ">


                            <!--<div class="panel panel-default m-l m-t" >-->
                                <!--<div class="panel-heading font-bold">-->
                                    <!--测试配置-->
                                <!--</div>-->
                                <!--<div class="panel-body">-->
                                    <!--<form role="form"  name="clientTestForm" class="form-inline">-->
                                        <!--<div class="form-group">-->
                                            <!--<label for="iportClient" class="sr-only">端口号</label>-->
                                            <!--<input type="number"   placeholder="9000-65535端口号" id="iportClient"     ng-model="clientFm.port"  class="form-control" required>-->
                                        <!--</div>-->
                                                    <!--<span >-->

                                                        <!--<button type="button"  class="btn  btn-success "  ng-click="clientTest()"     ng-disabled="clientTestForm.$invalid  || isClientSubmit" >-->
                                                            <!--<div ng-show="isClientSubmit">-->
                                                                <!--<span class="glyphicon glyphicon-refresh refresh" ></span>-->
                                                            <!--</div>-->
                                                            <!--<span ng-hide="isClientSubmit">开启服务器</span>-->
                                                        <!--</button>-->

                                                    <!--</span>-->
                                    <!--</form>-->
                                <!--</div>-->
                             <!--</div>-->



                            <section class="m-t">
                                <div class="col-sm-6 connected" >
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                           当前请求报文
                                        </div>
                                        <div class="list-group bg-white">
                                       <span>
                                             <textarea       readonly json-format   rows="15"  class="form-control" error="error" json="json"  style="border-radius: 0;"></textarea>
                                       </span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-6 connected" >
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            约定响应报文

                                        </div>
                                        <div class="list-group bg-white">
                                       <span>
                                             <textarea     readonly  json-format   rows="15"  class="form-control" error="error" json="json"  style="border-radius: 0;"></textarea>
                                       </span>
                                        </div>
                                    </div>


                                </div>
                            </section>


                        </section>

                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->

