<div class="modal-header">
    <h3 class="modal-title">修改积分</h3>
</div>

<div class="wrapper-md" >
    <tabset class="tab-container" >
        <tab heading="{{phone}}">
            <form name="step1" class="form-validation">
                <p class="m-b m-t">请填写增减积分数</p>
                <input ng-model="credit.newData"  placeholder="-10 | 10" type="number" class="form-control"/>
                <p class="m-b">选择修改原因:</p>
                <textarea ng-model="credit.reason"  placeholder="" type="text" class="form-control"></textarea>

                <div class="m-t  text-right">
                    <button type="submit"  class="btn btn-primary " ng-click="upDataCredit()">完成</button>
                </div>
            </form>
        </tab>
    </tabset>
</div>




