<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">用户管理</h1>
</div>


<div class="userManagerMain">
<section>

    <form role="form"  class="form-horizontal" novalidate  name="form">
        <div class="form-group">


            <label for="phone" class="col-md-2  mb15 control-label text-left">手机号</label>

            <div class="col-md-4 mb15">
                <input type="text" class=" input-sm form-control" id="phone" placeholder="输入 手机号"  ng-model="form.phone"    value="13363922086"  required/>
            </div>

            <div class="col-md-3 mb15 ">

                <button type="submit"  class="btn btn-sm m-b-xs  btn-primary "  ng-click="seachUser();"    ng-disabled="form.$invalid  || form.submit" >
                    <div ng-show="form.submit">
                        <span class="glyphicon glyphicon-refresh refresh" ></span>
                    </div>
                    <span ng-hide="form.submit">查询</span>


                </button>

                <button type="submit" class="btn m-b-xs btn-sm  btn-danger btn-addon"  ng-click="delUser();"  ng-disabled="form.$invalid || form.submit">
                    <i class="fa fa-remove"></i>
                    删除</button>


            </div>
        </div>

        <div class="form-group">

        </div>

    </form>


</section>



<section ng-show="res">
            <section class="userManager">

                <div class="userManagerTop">
                    <a class="ib userManagerHead">
                       <img src="imgs/head.png" class="full-img" />
                    </a>

                    <span class="ib userName">
                        {{res.userInfo.userName}}
                    </span>

                </div>

                <div class="userManagerBottom">

                    <!-- 个人信息 -->
                    <section   ng-init="isCollapsedUser=true;" ng-show="res">
                        <button class="btn btn-sm btn-primary" ng-click="isCollapsedUser = !isCollapsedUser">个人信息&nbsp;&nbsp;<span class="badge"></span></button>
                        <hr>
                        <div collapse="isCollapsedUser">

                            <div class="panel panel-default">
                                <div class="table-responsive ">

                                    <table class="table table-striped b-t b-light ">
                                        <thead>
                                        <tr>
                                            <th>
                                                用户名
                                            </th>
                                            <th>
                                                职位
                                            </th>
                                            <th>
                                                性别
                                            </th>
                                            <th>
                                                手机号
                                            </th>
                                            <th>
                                                积分
                                            </th>
                                            <th>
                                                修改
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>
                                                <span >
                                                    <a class=" " href="javascript:void(0);">
                                                        {{res.userInfo.userName}}
                                                    </a>
                                                 </span>
                                                 <span ng-show=false>
                                                    <input type="text"   class=" input-sm form-control"  ng-model="res.userInfo.userName"/>
                                                 </span>
                                            </td>
                                            <td>
                                                <span >
                                                    <a class=" " href="javascript:void(0);">
                                                        {{res|userType}}
                                                    </a>
                                                 </span>
                                                 <span ng-show=false>
                                                     <select  class="form-control"  ng-model="res.userInfo.userType">
                                                         <option value="0">老师&家长</option>
                                                         <option value="1">老师</option>
                                                         <option value="2">家长</option>
                                                     </select>
                                                    <!--<input type="text"   class="ib userName" ng-model="res | userType" size="9";/>-->
                                                 </span>
                                            </td>
                                            <td>
                                                <span >
                                                    <a class=" " href="javascript:void(0);">
                                                        {{res.userInfo.sex}}
                                                    </a>
                                                 </span>
                                                 <span ng-show=false>
                                                    <select  class="form-control">
                                                        <option value="0" selected="selected">男</option>
                                                        <option value="1">女</option>
                                                    </select>
                                                 </span>
                                            </td>
                                            <td>
                                                <span ng-hide="edit">
                                                    <a class=" " href="javascript:void(0);">
                                                        {{form.phone}}
                                                    </a>
                                                 </span>
                                                 <span ng-show="edit">
                                                    <input type="text"   class=" input-sm form-control" ng-model="form.phone"/>
                                                 </span>
                                            </td>

                                            <!--<td>-->
                                                <!--<span ng-hide="edit">-->
                                                    <!--<a class=" " href="javascript:void(0);">-->
                                                        <!--{{res.userInfo.address}}-->
                                                    <!--</a>-->
                                                 <!--</span>-->
                                                 <!--<span ng-show="edit">-->
                                                    <!--<input type="text"   class=" input-sm form-control" ng-model="res.userInfo.address" />-->
                                                 <!--</span>-->
                                            <!--</td>-->
                                            <td>
                                                 <span ng-hide="edit">
                                                    <a class="label bg-warning" href="index.html#/app/boss/market/credit/{{form.phone}}">
                                                        {{bizData}}
                                                    </a>
                                                 </span>
                                                <span ng-show="edit">
                                                    <a class="label bg-primary" href="javascript:void(0);" ng-click="upDataCredit();">
                                                        {{bizData}}
                                                    </a>
                                                 </span>
                                            </td>
                                            <td>
                                                <a href  ui-toggle-class  ng-click="editCre()">
                                                    <i class="fa fa-floppy-o text-primary  text-active ">保存</i>
                                                    <i class="fa fa-pencil-square-o text-primary  text"></i>
                                                </a>
                                            </td>


                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </section>


                    <!-- 孩子信息 -->
                    <section   ng-if="res.childInfo.length > 0"   ng-init="isCollapsedChild=true;">
                            <button class="btn btn-sm btn-primary" ng-click="isCollapsedChild = !isCollapsedChild">孩子信息&nbsp;&nbsp;<span class="badge">{{res.childInfo.length}}</span></button>
                            <hr>
                            <div collapse="isCollapsedChild">

                                <div class="panel panel-default">
                                <div class="table-responsive ">

                                        <table class="table table-striped b-t b-light ">
                                    <thead>
                                    <tr>
                                        <th>
                                            孩子编号
                                        </th>
                                        <th>
                                            孩子名称
                                        </th>
                                        <th>
                                            所在班级
                                        </th>
                                        <th>
                                            学校名称
                                        </th>
                                        <th>
                                            性别
                                        </th>
                                        <th>
                                            关系
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="obj in res.childInfo">
                                        <td>{{obj.childId}}</td>
                                        <td>{{obj.childName}}</td>
                                        <td>
                                            <!--<button class="btn btn-info  btn-sm">显示孩子所在班级</button>-->

                                            <div class="btn-group" dropdown is-open="status.isopen">



                                                <a href="javascript:void(0);" class="text-primary" dropdown-toggle ng-disabled="disabled" ng-if="obj.childClassName">
                                                    {{obj.childClassName}}<span class="caret" style="margin-left: 6px; position: relative;top:-1px;"></span>
                                                </a>


                                                <div class="dropdown-menu">
                                                    <table class="table table-striped b-t b-light " style="width: 400px;">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                班级码
                                                            </th>
                                                            <th>
                                                                班级名称
                                                            </th>
                                                            <th>
                                                                自定义名称
                                                            </th>


                                                        </tr>
                                                        </thead>

                                                        <tbody>
                                                        <tr ng-repeat="class in obj.childClassInfos">
                                                                <td>
                                                                    {{class.classCode}}
                                                                </td>
                                                                <td>
                                                                    {{class.className}}
                                                                </td>
                                                                <td>
                                                                    {{class.customName}}
                                                                </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>



                                            </div>

                                        </td>
                                        <td>{{obj.childSchoolName}}</td>
                                        <td>{{obj.childSex}}</td>
                                        <td>{{obj.relation}}</td>

                                        <td>
                                            <a href="javascript:void(0);" ng-click="delChild(obj)">
                                                <i class="fa fa-remove text-danger"></i>
                                            </a>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>

                                 </div>
                                </div>

                            </div>
                    </section>


                    <!-- 授课班级 -->
                    <section   ng-if="res.teacherInfo.length > 0"   ng-init="isCollapsedTeacher=true;">
                        <button class="btn  btn-sm btn-info" ng-click="isCollapsedTeacher = !isCollapsedTeacher">授课班级&nbsp;&nbsp;<span class="badge">{{res.teacherInfo.length}}</span></button>
                        <hr>
                        <div collapse="isCollapsedTeacher">
                            <table class="table table-striped  ">
                                <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        班级码
                                    </th>
                                    <th>
                                        班级名称
                                    </th>
                                    <th>
                                        班级老师数量
                                    </th>
                                    <th>
                                        修改时间
                                    </th>
                                    <th>
                                        修改时间
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="obj in res.teacherInfo">
                                    <td>{{obj.classId}}</td>
                                    <td>{{obj.classCode}}</td>
                                    <td>{{obj.className}}</td>
                                    <td>{{obj.teacherCount}}</td>
                                    <td>{{obj.lastModDate |  date:"yyyy-MM-dd hh:mm:ss"}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </section>


                    <!-- 加入的群 -->
                    <section   ng-if="res.groupInfo.length > 0"   ng-init="isCollapsedGroup=true;">
                        <button class="btn btn-danger" ng-click="isCollapsedGroup = !isCollapsedGroup">加入的群&nbsp;&nbsp;<span class="badge">{{res.groupInfo.length}}</span></button>
                        <hr>
                        <div collapse="isCollapsedGroup">

                            <table class="table table-striped  ">
                                <thead>
                                <tr>
                                    <th>
                                        编号
                                    </th>
                                    <th>
                                        群名称
                                    </th>

                                    <th>
                                        修改时间
                                    </th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="obj in res.groupInfo">
                                    <td>{{obj.groupId}}</td>
                                    <td>{{obj.groupName}}</td>
                                    <td>{{obj.lastModDate |  date:"yyyy-MM-dd hh:mm:ss"}}</td>
                                </tr>
                                </tbody>
                            </table>



                        </div>
                    </section>


                </div>

            </section>
</section>

</div>


