@charset "UTF-8";
.loading-am.ng-hide-add, .loading-am.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.loading-am.ng-hide-add.ng-hide-add-active,
.loading-am.ng-hide-remove {
  opacity: 0; }

.loading-am.ng-hide-add,
.loading-am.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.tani {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s; }

/** 表格 **/
.table {
  margin-bottom: 0px; }

.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle; }

.table-responsive {
  overflow: inherit; }

/** 分页按钮 **/
.pager {
  margin: 6px 0; }

.pager li > button, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #428bca;
  border-radius: 15px; }

.pager li > button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  opacity: .65; }

/** loading图片 **/
.glyphicon-refresh {
  -webkit-animation: spin 1s  linear both  infinite;
  animation: spin 1s  linear both  infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spin-inverse {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes spin-inverse {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
/**
 * 顺时针
 */
.spin {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/**
 * 逆时针
 */
.spin.inverse {
  -webkit-animation-name: spin-inverse;
  animation-name: spin-inverse; }

/** 常用 **/
.mb15 {
  margin-bottom: 15px !important; }

.ib {
  display: inline-block; }

.vt {
  vertical-align: top; }

.text-blue {
  color: #23b7e5;
}


/*# sourceMappingURL=base.css.map */
