<div ng-controller="MailNewCtrl">
    <!-- / header -->
    <div class="wrapper" style="padding-top: 0px">
        <form name="newMail" class="form-horizontal m-t-lg">

            <div class="form-group">
                <label class="col-lg-2 control-label">发送邮箱:</label>
                <div class="col-lg-8">

                    <zlselectize receiver-list="mail.receiverList" ng-model="mail.sender"></zlselectize>

                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">接收邮箱:</label>
                <div class="col-lg-8">

                    <zlselectize receiver-list="mail.receiverList"></zlselectize>

                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">邮件主题:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="mail.subject">
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label">邮件内容:</label>
                <div class="col-sm-10">
                    <div oc-lazy-load="textAngular">
                        <div text-angular ng-model="mail.content" class="btn-groups"></div>
                    </div>


                    <div class="btn-group">
                        <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal-body" style="{min-height: 200px;}">

                                <ul class="list-unstyled report-list col-md-12">
                                    <li class="col-md-6">

                                        <label class="checkbox i-checks m-l-md m-b-md">
                                            <input type="checkbox" ><i></i>
                                            报表01
                                        </label>

                                    </li>
                                    <li class="col-md-6">

                                        <label class="checkbox i-checks m-l-md m-b-md">
                                            <input type="checkbox" ><i></i>
                                            报表01
                                        </label>

                                    </li>
                                    <li class="col-md-6">

                                        <label class="checkbox i-checks m-l-md m-b-md">
                                            <input type="checkbox" ><i></i>
                                            报表01
                                        </label>

                                    </li>
                                    <li class="col-md-6">

                                        <label class="checkbox i-checks m-l-md m-b-md">
                                            <input type="checkbox" ><i></i>
                                            报表01
                                        </label>

                                    </li>
                                </ul>

                            </div>
                            <div class="modal-footer">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <button class="btn btn-primary" ng-click="ok()" style="display: inline-block">确定</button>
                                    </div>
                                </form>
                            </div>
                        </script>
                        <!--<a class="btn btn-sm btn-default" tooltip="添加附件" ><i class="fa text-base fa-chain"></i>添加附件</a>-->
                    </div>
                </div>
            </div>

            <div class="form-group m-t-md">
                <label class="col-lg-2 control-label" >选择报表:</label>
                <div class="col-lg-8">
                    <button class="btn   btn-sm  btn-danger btn-addon" ng-click="addAttach()"><i class="fa fa-plus"></i>添加报表</button>
                </div>
            </div>

            <div class="form-group" ng-show="mail.sendTimeType">
                <label class="col-lg-2 control-label">定时时间:</label>
                <div class="col-lg-4">


                    <div ui-jq="datetimepicker"   ui-options="{defaultDate:'', locale: 'zh-cn', format: 'YYYY-MM-DD HH:mm:ss'}"
                         class='input-group date'>
                        <input type='text'    class="form-control"  ng-model="date"  value="{{date}}" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2 col-lg-offset-2">
                    <button class="btn btn-info w-xs" ng-click="sendMail()" ng-enable='sending'>{{sendButton}}</button>
                </div>
                <div class="col-lg-2">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="timeSend" ng-click="toggleTimeSend()"><i></i> 定时发送
                        </label>
                    </div>
                </div>
            </div>





        </form>
    </div>
</div>
