<div class="m-b" >

    <select    class="form-control ib  input-sm  " ng-model="severMessageModelParams.sysCode" style="width: 150px; vertical-align: bottom; display: none;">
        <option value="">请选择系统</option>
        <option value="{{server.systemCode}}" ng-repeat=" server in  serves">
            {{server.systemName}}
        </option>
    </select>

    <button class="btn  m-l  btn-sm  btn-danger btn-addon" ng-click="isAdd=true;"><i class="fa fa-plus"></i>添加系统</button>

</div>

<table-paging   is-submit="severSystemModelIsSubmit"   refresh="severSystemModelRefresh"  pageIndex="1"  pageSize="10"  params="severSystemModelParams"  url="severSystemModelUrl"  results="severSystemModelPost"  resultsName="pageList"  total="total"   >

    <div class="table-responsive">
        <form name="addSevMessageForm" novalidate role="form">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>系统标识</th>
                    <th>系统名称</th>
                    <th>基础请求路径</th>
                    <th>系统端口</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-show="isAdd">

                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fm.systemCode"  placeholder="英文标识唯一" required />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fm.systemName" placeholder="中文名称" required />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fm.basePath" placeholder="http://localhost:8080/uc" required />
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fm.mockPort" placeholder="8080" required />
                    </td>

                    <td>
                        <a class="ib"   ng-click="addFilederverMessage()" >
                            <i class="fa  fa-plus text-primary   "></i>
                        </a>

                        <a class="ib m-l removeCk" ng-click="resetFm()">
                            <i class="fa fa-reply text-primary "></i>
                        </a>
                    </td>
                </tr>

                <tr ng-repeat="system in severSystemModelPost">
                    <td>{{system.systemCode}}</td>

                    <td>{{system.systemName}}</td>

                    <td>

                        <span ng-if="!system.edit">{{system.basePath}}</span>
                        <span class="ib" ng-hide="!system.edit">
                                <input  type="text"    ng-model="system.basePath" class="form-control"  />
                        </span>
                    </td>

                    <td width="150">
                        <span ng-if="!system.edit">{{system.mockPort}}</span>
                        <span class="ib" ng-hide="!system.edit">
                                <input  type="text"    ng-model="system.mockPort" class="form-control"  />
                        </span>

                    </td>

                    <td>
                        <a href  ui-toggle-class  ng-click="editSysMessage(system)">
                            <i class="fa fa-floppy-o text-primary  text-active "></i>
                            <i class="fa fa-pencil-square-o text-primary  text"></i>
                        </a>

                        <a class="ib m-l removeCk" ng-click="deleteServerMessage(system)">
                            <i class="fa fa-times text-primary   "></i>
                        </a>
                    </td>

                </tr>

                </tbody>

            </table>
        </form>
    </div>

</table-paging>