


<div class="hbox hbox-auto-xs bg-light  ng-scope">



<!-- column -->
<div class="col">
<div class="vbox" ng-hide="note == '' ">

<div class="row-row">

<div class="cell">


<div class="fbox text-center text-sm">
    <a ui-sref="app.mbridge.setting.filed" class="col padder-v text-muted b-r b-light active" ng-class="{'active': currentPotoy == 1 }" ng-click="currentPotoy=1">
        <i class=" icon-screen-tablet block m-b-xs fa-2x"></i>
        <span>字段配置</span>
    </a>
    <a ui-sref="app.mbridge.setting.poto"    class="col padder-v text-muted b-r b-light" ng-click="currentPotoy=2" ng-class="{'active': currentPotoy == 2 }">
        <i class="icon-rocket block m-b-xs fa-2x"></i>
        <span>报文配置</span>
    </a>

    <a ui-sref="app.mbridge.setting.system" class="col padder-v text-muted " ng-click="currentPotoy=3" ng-class="{'active': currentPotoy == 3}">
        <i class=" icon-paper-plane block m-b-xs fa-2x"></i>
        <span>系统配置</span>
    </a>

</div>


<div style="margin-top: 120px;">



<div class="wrapper-md ng-scope">

    <div class="panel panel-default">

        <div class="row wrapper">
            <div class="col-sm-12">

                <div ui-view></div>

            </div>
        </div>



    </div>



</div>
















</div>

</div>
</div>


</div>
</div>



</div>

