<!-- Boss -->
<ul class="nav" ng-show="$root.currentSys == 'boss'  ">
<!-- 标题 -->
<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components01.components">xxxxxx</span>
</li>
<!-- 01 -->
<li>
    <a href class="auto">
        <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
        <i class="glyphicon glyphicon-book icon text-primary-dker"></i>
        <span class="font-bold" translate="aside.nav.components01.base_mg.title">xxxxx</span>
    </a>
    <ul class="nav nav-sub dk">
        <li ui-sref-active="active">
            <a ui-sref="app.boss.user" ng-click="app.settings.asideFolded=false">
                <span translate="aside.nav.components01.base_mg.user_mg">xxxxxx</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.boss.school" ng-click="app.settings.asideFolded=false">
                <span translate="aside.nav.components01.base_mg.school_mg">xxxxxx</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.boss.class" ng-click="app.settings.asideFolded=false">
                <span translate="aside.nav.components01.base_mg.class_mg">xxxxxx</span>
            </a>
        </li>
    </ul>
</li>
<!-- 02 -->
<li>
    <a href class="auto">
        <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
            <i class="glyphicon glyphicon-list-alt icon text-primary-dker"></i>
        <span class="font-bold" translate="aside.nav.components01.work_order.title">xxxxx</span>
    </a>

    <ul class="nav nav-sub dk">
        <li ui-sref-active="active">
            <a ui-sref="app.boss.audit.school">
                <span translate="aside.nav.components01.work_order.audit_mg">xxxxxx</span>
            </a>
        </li>

    </ul>
</li>

<li class="line dk"></li>
<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components02.components">xxxxxx</span>
</li>

<!-- 营销管理 -->
<li ng-class="{active:$state.includes('app.table')}">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>


        <i class="glyphicon glyphicon-credit-card text-primary-dker"></i>
        <span translate="aside.nav.components02.table.TABLE">xxxxxx</span>
    </a>
    <ul class="nav nav-sub dk">
        <li class="nav-sub-header">
            <a href>
                <span translate="aside.nav.components02.table.TABLE">xxxxxx</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.table.static">
                <span translate="aside.nav.components02.table.TABLE_STATIC">xxxxxx</span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="app.table.datatable">
                <span translate="aside.nav.components02.table.DATATABLE">xxxxxx</span>
            </a>
        </li>

    </ul>
</li>
<li class="line dk"></li>
</ul>
<!-- Boss -->




<!-- notify -->
<ul class="nav" ng-show="$root.currentSys == 'notify'  ">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.components05.components">xxxxxx</span>
    </li>

    <!-- 消息管理 -->
    <li ng-class="{active:$state.includes('app.ui')}"   >
        <a href class="auto">
        <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
            <i class="glyphicon glyphicon-envelope icon text-primary-dker"></i>
            <span translate="aside.nav.components05.notify.title">xxxxxx</span>
        </a>

        <ul class="nav nav-sub dk">


            <!-- 短信查询 -->
            <li ui-sref-active="active">
                <a ui-sref="app.notify.sms">
                    <span translate="aside.nav.components05.notify.sms">xxxxxx</span>
                </a>
            </li>

            <!-- 短信渠道切换 -->
            <li ui-sref-active="active">
                <a ui-sref="app.notify.smschannel">
                    <span translate="aside.nav.components05.notify.sms-chanel">xxxxxx</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.notify.feedback">
                    <span translate="aside.nav.components05.notify.feed-back">xxxxxx</span>
                </a>
            </li>


        </ul>
    </li>
</ul>



<!-- bridge 部分 -->
<ul class="nav" ng-show="$root.currentSys == 'mBridge'  ">
<!-- bridge -->
<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components04.components">xxxxxx</span>
</li>
<li>
    <a  ui-sref-active="active" class="auto"  ui-sref="app.mbridge.bridge" ng-click="app.settings.asideFolded=true">
        <i class="fa fa-code-fork fa-lg text-primary-dker"></i>
        <span class="font-bold" translate="aside.nav.components04.bridge.title">xxxxx</span>
    </a>
</li>

    <li>
        <a  ui-sref-active="active" class="auto"  ui-sref="app.mbridge.setting.poto" ng-click="app.settings.asideFolded=false">
            <i class="fa fa-stethoscope  fa-lg text-primary-dker"></i>
            <span class="font-bold" translate="aside.nav.components04.bridge.setting">xxxxx</span>
        </a>
    </li>

<li class="line dk"></li>
</ul>
<!-- bridge 部分 -->





<!-- 数据分析 -->
<ul class="nav"  ng-show="$root.currentSys == 'sop'  ">

<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components03.components">xxxxxx</span>
</li>



<li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
        <i class="fa fa-pie-chart fa-lg text-primary-dker"></i>
        <span class="font-bold" translate="aside.nav.components03.data_analysis.title">xxxxx</span>
    </a>

    <!-- 用户地域分布图 -->
    <ul class="nav nav-sub dk">
        <li ui-sref-active="active">
            <a ui-sref="app.sop.userMap">
                <span translate="aside.nav.components03.data_analysis.userMap">xxxxxx</span>
            </a>
        </li>
    </ul>
    <!-- 7日趋势图 -->
    <ul class="nav nav-sub dk">
        <li ui-sref-active="active">
            <a ui-sref="app.sop.7Trend">
                <span translate="aside.nav.components03.data_analysis.7Trend">xxxxxx</span>
            </a>
        </li>
    </ul>
    <!-- 报表 -->
    <ul class="nav nav-sub dk">
        <li ui-sref-active="active">
            <a ui-sref="app.sop.report">
                <span translate="aside.nav.components03.data_analysis.report">xxxxxx</span>
            </a>
        </li>
    </ul>
</li>




</ul>
<!-- 数据分析 -->



<ul class="nav">
    <li class="line dk hidden-folded"></li>
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.your_stuff.YOUR_STUFF">xxxxxx</span>
    </li>
    <li>
        <a ui-sref="app.page.profile">
            <i class="icon-user icon text-success-lter"></i>
            <b class="badge bg-success pull-right">30%</b>
            <span translate="aside.nav.your_stuff.PROFILE">xxxxxx</span>
        </a>
    </li>
    <li>
        <a ng-click="openDoc();">
            <i class="icon-question icon"></i>
            <span translate="aside.nav.your_stuff.DOCUMENTS">xxxxxx</span>
        </a>
    </li>

</ul>



