@charset "utf-8";



/** 客服系统 cs**/


//缩进
.indent{

  .chat-left{
    display: none;
  }
  .chat-right{
    padding-left: 0;
    padding-right: 0;

    position: fixed;
    right: 0px;
    background: #ffffff;
    width: 68px;
  }

  .nav-tabs-alt{
    .wrapper-md{
      padding: 0px 15px;
      .list-group{
        overflow: hidden;
      }
      .list-group-item{
          padding: 0px 15px;
          padding-bottom: 8px;
        padding-top: 5px;
        overflow: hidden;


        .clear{
          display: none;
        }
      }
    }

  }


}


.chatMain{
  display: inline-block;
  position: fixed;
  right: 0px;
  top: 70px;
  z-index: 9999;


  .badge.up{
    position: relative;
    top: -15px;
    padding: 3px 6px;
    margin-left: -13px;
  }

}


.tab-content{
  .tab-pane{
    height: 320px;
    overflow-y: scroll;
  }
}

.chatContent{
  background: #ffffff;


  .chatContentHeader{
    padding: 10px 20px;
    border-bottom: 1px solid #dee5e7;


    #closeWindow{
      position: absolute;
      left: -12px;
      top: -14px;
      background: #7266ba;
      border-radius: 60px;
      color: white;
      line-height: 30px;
      width: 30px;
      text-align: center;

        i{
          color: #ffffff;
        }
    }

    ul{
      position: relative;
      top: 11px;

      li{
        float: left;
        margin-left: 10px;
      }


    }

    .title{
      font-size: 16px;
    }
  }
}



