<table class="table table-hover table-audit" ng-if="results.length > 0">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                手机号
            </th>
            <th>
                用户名
            </th>
            <th>
                班级名称
            </th>
            <th>
                学校名称
            </th>

            <th>
                最后修改时间
            </th>

            <th>
                审核内容
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="res in results">
            <td>{{res.classId}}</td>
            <td>{{res.phone}}</td>
            <td>{{res.userName}}</td>
            <td>{{res.className}}</td>
            <td>{{res.schoolName}}</td>
            <td>{{res.lastModDate | date:"yyyy-MM-dd hh:mm:ss" }}</td>
            <td >
                <button class="btn btn-sm btn-success" ng-if="res.status == 0" ng-click="auditContent(res.classId,1,1);">审核</button>
                <button class="btn btn-sm btn-default" ng-click="auditContent(res.classId,1,0);"  ng-hide="res.status == 0">撤销审核</button>

            </td>

        </tr>
    </tbody>
</table>


<nav ng-if="pageTotal > 1">
    <ul class="pager">
        <li class="previous"  ><button href="#" class="ib" ng-disabled="pageIndex <= 1"  ng-click="prev();" >&larr; 上一页</button></li>
        <li class="next"    ><button href="#" ng-click="next();"  ng-disabled="pageIndex >= pageTotal">下一页 &rarr;</button></li>
    </ul>
</nav>