<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">班级列表</h1>
</div>



<div class="wrapper-md">

<div class="panel panel-default">

    <div class="row wrapper">


            <form name="schoolForm">

                <div class="fx-row">

                    <button  type="button" ng-click="create();" class="mr100 btn  m-l  btn-sm  btn-danger btn-addon mr100" ><i class="fa fa-plus"></i>创建学校</button>

                        <input type="search" class="input-sm  fx-col-1  form-control" placeholder="例: 班级查询"  ng-model="params.schoolName"   />

                        <button class="mr100 btn btn-sm btn-primary" type="button" ng-click="search();" ng-disabled="isSubmit">
                            <span ng-show="isSubmit" class="">
                                     <i class=" fa fa-refresh glyphicon-refresh"  ></i>
                            </span>
                            <span class=""  ng-hide="isSubmit">查询</span>
                        </button>


                </div>

            </form>
    </div>


    <table-paging   content-type="json"   is-submit="isSubmit"   refresh="refresh"  pageIndex="1"  pageSize="10"  params="params"  url="classUrl"  results="posts"  resultsName="bizData.pageList"  total="bizData.total"   ng-show="posts.length > 0">

        <div class="table-responsive">

            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>学校编号</th>
                    <th>学校名称</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                        <tr ng-repeat="sco in posts">
                            <td>{{sco.schoolId}}</td>
                            <td>
                                <div ng-hide="sco.edit">{{sco.schoolName}}</div>
                                <div ng-show="sco.edit"><input type="text"     class="input-sm form-control"  ng-model="sco.schoolName"  name="schoolName"  /></div>
                            </td>
                            <td>{{sco.createDate | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                            <td>{{sco.lastModDate | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                            <td >


                                <a href  ui-toggle-class  ng-click="edit(sco)">
                                    <i class="fa fa-floppy-o text-primary  text-active "></i>
                                    <i class="fa fa-pencil-square-o text-primary  text"></i>
                                </a>
                            </td>
                        </tr>

                </tbody>
            </table>
        </div>


    </table-paging>











</div>



</div>