<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">班级管理</h1>
</div>



<div class="userManagerMain ng-scope" style="padding-bottom: 0;">
    <section>
        <form role="form" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" novalidate="" name="form">
            <div class="form-group">
                <div class="col-md-4 mb15">
                    <span ng-show="schoolId">
                        <a  type="button" href="#/app/boss/schoolClass/{{schoolId}}"    class="mr100 btn  m-l  btn-sm  btn-success btn-addon text-left col-md-" >
                            返回
                        </a>
                    </span>

                    <span ng-hide="schoolId">
                        <label for="classNum" class="col-md-4  control-label text-left" >班级码</label>
                    </span>

                </div>
                <div class="col-md-4 mb15">
                    <input type="text" class="input-sm form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="classNum" placeholder="输入 班级码" ng-model="fm.classCode"  required="">
                </div>

                <div class="col-md-3 mb15 ">

                    <button type="submit" class="btn btn-sm m-b-xs  btn-primary " ng-click="searchClass(true);" ng-disabled="form.$invalid  || form.submit" >
                        <div ng-show="form.submit" class="ng-hide">
                            <span class="glyphicon glyphicon-refresh refresh"></span>
                        </div>
                        <span ng-hide="form.submit">查询</span>


                    </button>


                </div>

            </div>

            <div class="form-group">

            </div>

        </form>


    </section>



</div>











<section style="margin: 0 20px; background: #ffffff;">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
<div class="col" >


    <!-- 班级信息 -->
    <div  ng-show="classInfo" >
        <div class="wrapper-lg bg-white-opacity">
            <div class="row m-t">
                <div class="col-sm-7">
                    <a href class="thumb-lg pull-left m-r">
                        <img ng-src="{{classInfo.classIcon}}" class="img-circle">
                    </a>
                    <div class="clear m-b">
                        <div class="m-b m-t-sm">
                            <span class="h3 text-black">{{classInfo.className}}</span>
                            <small class="m-l">{{classInfo.schoolName}}, {{classInfo.provinceName}}{{classInfo.districtName}}</small>
                        </div>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="pull-right pull-none-xs text-center">
                        <a href class="m-b-md inline m">
                            <span class="text-primary h3 block font-bold">{{classInfo.teacherCount}}</span>
                            <small class="">老师数量</small>
                        </a>
                        <a href class="m-b-md inline m">
                            <span class="text-primary h3 block font-bold">{{classInfo.parentCount}}</span>
                            <small>家长数量</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 消息体 -->
    <section ng-show="classMsgPosts.length > 0">
        <div class="wrapper bg-white b-b" >
            <ul class="nav nav-pills nav-sm">
                <li  ng-class="{'active':fm.userType == -1}" ng-click="fm.userType='-1'"><a href>全部</a></li>
                <li  ng-class="{'active':fm.userType == 1}" ng-click="fm.userType=1"><a href>老师</a></li>
                <li  ng-class="{'active':fm.userType == '0'}" ng-click="fm.userType='0' "><a href>家长</a></li>
            </ul>
        </div>
        <div class="padder">
            <div class="streamline b-l b-info m-l-lg m-b padder-v">


                <div ng-repeat="class in classMsgPosts">
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img ng-src="{{class.sender.userIcon}}" class="img-circle" alt="...">
                    </a>
                    <div class="m-l-lg m-b-lg">
                        <div class="m-b-xs">
                            <a href class="h4">{{class.sender.userName}}</a>
                              <span class="text-muted m-l-sm pull-right">
                                {{class.messageInfo.messageSendTime |  date:"yyyy-MM-dd hh:mm:ss"}}
                              </span>
                        </div>
                        <div class="m-b">




                            <div class="m-b">

                                <div style="margin-bottom: 15px;margin-top: 15px;">
                                    {{class.messageInfo.messageContent}}
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="width: 400px;" >

                                        <!-- 1张图片显示 -->
                                        <div class="row" ng-if="class.messageInfo.messagePics.length == 1">
                                            <div class="col-md-12" ng-repeat="ig in class.messageInfo.messagePics">
                                                <img   ng-src="{{ig}}" class="b b-a wrapper-xs bg-white img-responsive"   />
                                            </div>
                                        </div>

                                        <!-- 2张图片显示 -->
                                        <div class="row" ng-if="class.messageInfo.messagePics.length == 2">
                                            <div class="col-md-6" ng-repeat="ig in class.messageInfo.messagePics" >
                                                <img   ng-src="{{ig}}" class="b b-a wrapper-xs bg-white img-responsive"   />
                                            </div>
                                        </div>

                                        <!-- 2张图片显示 -->
                                        <div class="row" ng-if="class.messageInfo.messagePics.length == 3">
                                            <div class="col-md-4" ng-repeat="ig in class.messageInfo.messagePics" >
                                                <img   ng-src="{{ig}}" class="b b-a wrapper-xs bg-white img-responsive"   />
                                            </div>
                                        </div>


                                        <!-- 4张图片显示 -->
                                        <div class="row" ng-if="class.messageInfo.messagePics.length == 4">
                                            <div class="col-md-6" ng-repeat="ig in class.messageInfo.messagePics" >
                                                <img   ng-src="{{ig}}" class="b b-a wrapper-xs bg-white img-responsive"   />
                                            </div>
                                        </div>

                                        <!-- 5张图片显示 -->
                                        <div class="row" ng-if="class.messageInfo.messagePics.length >= 5">
                                            <div class="col-md-3" ng-repeat="ig in class.messageInfo.messagePics" >
                                                <img   ng-src="{{ig}}" class="b b-a wrapper-xs bg-white img-responsive"   />
                                            </div>
                                        </div>


                                    </div>
                                </div>




                            </div>

                            <div class="m-t-sm">
                                <a href class="text-muted m-xs"><i class="icon-heart">&emsp;{{class.praiserCount}}</i></a>
                            </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

        <div   infinite-scroll-disabled='busy' infinite-scroll='loadMore()'     infinite-scroll-distance='1'></div>
        <div   class="text-center" ng-show='busy'>正在加载.....</div>

</div>
</div>



</section>






