<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">班级管理</h1>
</div>







<div class="userManagerMain ng-scope">
    <section>
        <form role="form" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" novalidate="" name="form">
            <div class="form-group">


                <label for="classNum" class="col-md-2  mb15 control-label text-left">班级码</label>

                <div class="col-md-4 mb15">
                    <input type="text" class="input-sm form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="classNum" placeholder="输入 班级码" ng-model="form.classNum"  required="">
                </div>

                <div class="col-md-3 mb15 ">

                    <button type="submit" class="btn btn-sm m-b-xs  btn-primary " ng-click="seachClass();" ng-disabled="form.$invalid  || form.submit" disabled="disabled">
                        <div ng-show="form.submit" class="ng-hide">
                            <span class="glyphicon glyphicon-refresh refresh"></span>
                        </div>
                        <span ng-hide="form.submit">查询</span>


                    </button>



                </div>
            </div>

            <div class="form-group">

            </div>

        </form>


    </section>



</div>








<section style="margin: 0 20px; background: #ffffff;">
<div class="hbox hbox-auto-xs hbox-auto-sm">
<div class="col">
    <div style=" background:url(lib/img/c4.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity">
            <div class="row m-t">
                <div class="col-sm-7">
                    <a href class="thumb-lg pull-left m-r">
                        <img src="lib/img/a0.jpg" class="img-circle">
                    </a>
                    <div class="clear m-b">
                        <div class="m-b m-t-sm">
                            <span class="h3 text-black">John.Smith</span>
                            <small class="m-l">London, UK</small>
                        </div>
                        <p class="m-b">
                            <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                            <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                            <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                        </p>
                        <a href class="btn btn-sm btn-success btn-rounded">Follow</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="pull-right pull-none-xs text-center">
                        <a href class="m-b-md inline m">
                            <span class="h3 block font-bold">2k</span>
                            <small>Followers</small>
                        </a>
                        <a href class="m-b-md inline m">
                            <span class="h3 block font-bold">250</span>
                            <small>Following</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bg-white b-b">
        <ul class="nav nav-pills nav-sm">
            <li class="active"><a href>全部</a></li>
            <li><a href>老师</a></li>
            <li><a href>家长</a></li>
        </ul>
    </div>
    <div class="padder">
        <div class="streamline b-l b-info m-l-lg m-b padder-v">


            <div>
                <a class="pull-left thumb-sm avatar m-l-n-md">
                    <img src="lib/img/a6.jpg" class="img-circle" alt="...">
                </a>
                <div class="m-l-lg m-b-lg">
                    <div class="m-b-xs">
                        <a href class="h4">Jessica</a>
              <span class="text-muted m-l-sm pull-right">
                3h ago
              </span>
                    </div>
                    <div class="m-b">
                        <div class="m-b">Cecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
                        <img src="lib/img/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                        <div class="m-t-sm">
                            <a href class="text-muted m-xs"><i class="icon-action-redo"></i></a>
                            <a href class="text-muted m-xs"><i class="icon-star"></i></a>
                            <a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a class="pull-left thumb-sm avatar m-l-n-md">
                    <img src="lib/img/a6.jpg" class="img-circle" alt="...">
                </a>
                <div class="m-l-lg m-b-lg">
                    <div class="m-b-xs">
                        <a href class="h4">Jessica</a>
              <span class="text-muted m-l-sm pull-right">
                3h ago
              </span>
                    </div>
                    <div class="m-b">
                        <div class="m-b">Cecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
                        <img src="lib/img/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                        <div class="m-t-sm">
                            <a href class="text-muted m-xs"><i class="icon-action-redo"></i></a>
                            <a href class="text-muted m-xs"><i class="icon-star"></i></a>
                            <a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</section>