



<div class="modal-over bg-black">




        <div class="container launch">


            <div class="row text-center" style="margin-top: 150px;">
                <div class="col-md-4 launch-cp">
                    <div class=" ib animated fadeInUp text-center pointer"  ui-sref="app.home" ng-click="$root.currentSys='boss'; " >
                        <div class="thumb-lg">
                            <img src="lib/img/a0.jpg" class="img-circle">
                        </div>
                        <p class="h4 m-t m-b">BOSS</p>

                    </div>

                </div>

                <div class="col-md-4 launch-cp">

                    <div class=" ib animated fadeInUp text-center pointer"  ui-sref="app.mbridge.bridge" ng-click="$root.currentSys='mbridge'; ">
                        <div class="thumb-lg">
                            <img src="lib/img/a0.jpg" class="img-circle">
                        </div>
                        <p class="h4 m-t m-b">MBridge</p>

                    </div>

                </div>

                <div class="col-md-4 launch-cp">

                    <div class=" ib animated fadeInUp text-center pointer"  ui-sref="app.sop.userMap" ng-click="$root.currentSys='sop'; ">
                        <div class="thumb-lg">
                            <img src="lib/img/a0.jpg" class="img-circle">
                        </div>
                        <p class="h4 m-t m-b">SOP</p>

                    </div>
                </div>

                <div class="col-md-4 launch-cp">
                    <div class=" ib animated fadeInUp text-center pointer" uui-sref="app.notify" ng-click="$root.currentSys='notify'; ">
                        <div class="thumb-lg">
                            <img src="lib/img/a0.jpg" class="img-circle">
                        </div>
                        <p class="h4 m-t m-b">Notify</p>
                    </div>

                </div>

                <div class="col-md-4 launch-cp">
                    <div class=" ib animated fadeInUp text-center pointer" uui-sref="app.ucm" ng-click="$root.currentSys='ucm'; ">
                        <div class="thumb-lg">
                            <img src="lib/img/a0.jpg" class="img-circle">
                        </div>
                        <p class="h4 m-t m-b">UCM</p>
                    </div>

                </div>

            </div>
        </div>





</div>