<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">发布消息</h1>
</div>



<div class="wrapper-md ">

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        </a>
    </script>

            <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false}">
                <tab heading="第一步" active="steps.step1" select="steps.percent=30">
                    <p class="m-b">选择发布对象</p>
                    <progressbar value="steps.percent" class="progress-xs" type="info"></progressbar>
                    <form name="step1" class="form-validation">
                        <p class="m-b">发布对象:</p>
                        <select class="form-control" ng-model="fm.userType" required>
                            <option value="">选择发布对象:</option>
                            <option value="{{sendUser.type}}" ng-repeat=" sendUser in  sendUserTypes">
                                {{sendUser.content}}
                            </option>
                        </select>



                        <div ng-if="fm.userType == '0'">
                            <p class="m-b m-t">选择学校:</p>
                                <div class="pos-rel fx-row">
                                    <input type="text"   placeholder="输入学校名称..."  ng-model="fm.schoolName" class="fx-col-1 form-control" />
                                    <button type="button"  class="btn btn-primary" ng-click="searchSchool();">查询</button>

                                    <ul class="dropdown-menu autoSearch" role="menu" ng-show="isopen">
                                        <li ng-repeat="sc in schools"><a href="javascript:void(0);" ng-click="selectSchool(sc);">{{sc.schoolName}}</a></li>
                                    </ul>
                                </div>

                            <div ng-if="fm.schoolId">
                                <p class="m-b m-t">选择班级:</p>
                                <p ng-if="classList.length <=0">
                                   <button class="btn btn-primary" type="button">没有班级!!</button>
                                </p>
                                <ul class="float-list " ng-if="classList.length >0">
                                    <li ng-repeat="class in classList">
                                        <label class="checkbox i-checks ">
                                            <input type="checkbox" name="classCode"   ng-init="class.status=false;"   ng-click="class.status = !class.status"    classId="{{class.classId}}"     class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i>
                                            {{class.className}}
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div ng-if="fm.userType == '1'">
                            <p class="m-b m-t">用户手机号码:</p>
                            <textarea ng-model="fm.receiversUser" placeholder="输入用户手机号码,已逗号分隔" class="form-control"  required></textarea>
                        </div>


                        <div class="m-t  text-right">
                            <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary " ng-click="steps.step2=true">下一步</button>
                        </div>
                    </form>

                </tab>
                <tab heading="第二步" disabled="step1.$invalid" active="steps.step2" select="steps.percent=60">

                    <form name="step2" class="form-validation"  >
                        <p class="m-b">发送内容</p>
                        <progressbar value="steps.percent" class="progress-xs" type="info"></progressbar>

                        <p class="m-b">文字内容</p>

                        <textarea class="form-control"  ng-model="fm.content"  required></textarea>
                        <section>
                            <p class="m-b m-t">图片: </p>
                            <button  class="btn btn-primary btn-sm"     ngf-select    ngf-change="uploadPic($files,$event,'small')">上传图片</button>
                            <img ng-src="{{im}}"  ng-model="fm.image"  width="100" height="100"  ng-repeat="im in fm.imageList"/>
                        </section>


                        <div class="m-t  text-right">
                            <button type="button" class="btn btn-default " ng-click="steps.step3=true">返回修改</button>
                            <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary " ng-click="steps.percent=100;sendMessage()">
                                <span ng-show="isAddSchoolSubmit" class=""><i class=" fa fa-refresh glyphicon-refresh"  ></i></span>
                                <span class=""  ng-hide="isAddSchoolSubmit">完成</span>
                            </button>
                        </div>

                    </form>


                </tab>


            </tabset>





</div>