<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">系统资源管理</h1>
</div>

<div class="wrapper-md ng-scope">

    <div class="panel panel-default">

        <div class="row wrapper">
            <div class="col-sm-12">
                <div class="m-b" >

                    <select    class="form-control ib  input-sm  " ng-model="severMessageModelParams.sysCode" style="width: 150px; vertical-align: bottom; ">
                        <option value="">请选择系统</option>
                        <option value="{{system.sysCode}}" ng-repeat=" system in  systems">
                            {{system.sysName}}
                        </option>
                    </select>

                    <button class="btn  m-l  btn-sm  btn-danger btn-addon" ng-click="isAdd=true;"><i class="fa fa-plus"></i>添加系统资源</button>

                </div>

                <table-paging   is-submit="severSystemModelIsSubmit"   refresh="severSystemModelRefresh"  pageIndex="1"  pageSize="10"  params="severSystemModelParams"  url="severSystemModelUrl"  results="severSystemModelPost"  resultsName="pageList"  total="total"   >

                    <div class="table-responsive">
                        <form name="addSevMessageForm" novalidate role="form">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                <tr>
                                    <th>系统名称</th>
                                    <th>资源名称</th>
                                    <th>资源内容</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr ng-show="isAdd">

                                    <td>
                                        <!--<select ng-model="fm.systemCode" required/>-->
                                        <input type="text" class="form-control input-sm" ng-model="fm.sysCode"  placeholder="系统标识，如：uc" required readonly />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" ng-model="fm.resName" placeholder="用户登录" required />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" ng-model="fm.resValue" placeholder="/user/login" required />
                                    </td>

                                    <td>
                                        <a class="ib"   ng-click="addFilederverMessage()" >
                                            <i class="fa  fa-plus text-primary   "></i>
                                        </a>

                                        <a class="ib m-l removeCk" ng-click="resetFm()">
                                            <i class="fa fa-reply text-primary "></i>
                                        </a>
                                    </td>
                                </tr>

                                <tr ng-repeat="system in severSystemModelPost">
                                    <td>{{system.systemCode}}</td>

                                    <td>{{system.systemName}}</td>

                                    <td width="150">
                                        <span ng-if="!system.edit">{{system.mockPort}}</span>
                        <span class="ib" ng-hide="!system.edit">
                                <input  type="text"    ng-model="system.mockPort" class="form-control"  />
                        </span>

                                    </td>

                                    <td>
                                        <a href  ui-toggle-class  ng-click="editSysMessage(system)">
                                            <i class="fa fa-floppy-o text-primary  text-active "></i>
                                            <i class="fa fa-pencil-square-o text-primary  text"></i>
                                        </a>

                                        <a class="ib m-l removeCk" ng-click="deleteServerMessage(system)">
                                            <i class="fa fa-times text-primary   "></i>
                                        </a>
                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </form>
                    </div>

                </table-paging>

            </div>
        </div>



    </div>
</div>