<div class="bg-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">系统资源管理</h1>
</div>

<div class="wrapper-md ng-scope">

    <div class="panel panel-default">

        <div class="row wrapper">
            <div class="col-sm-12">
                <div class="m-b" >

                    <select    class="form-control ib  input-sm  " ng-model="severMessageModelParams.sysCode" style="width: 150px; vertical-align: bottom; ">
                        <option value="">请选择系统</option>
                        <option value="{{system.id}}" ng-repeat=" system in  systems">
                            {{system.sysName}}
                        </option>
                    </select>

                    <button class="btn  m-l  btn-sm  btn-danger btn-addon" ng-click="isAdd=true;"><i class="fa fa-plus"></i>添加系统资源</button>

                </div>

                <table-paging   is-submit="systemResourceSubmit"   refresh="systemResourceRefresh"  pageIndex="1"  pageSize="10"  params="systemResourceParams"  url="systemResourceUrl"  results="systemResourcePosts"  resultsName="pageList"  total="total"   >

                    <div class="table-responsive">
                        <form name="addSevMessageForm" novalidate role="form">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                <tr>
                                    <th>系统名称</th>
                                    <th>资源名称</th>
                                    <th>资源内容</th>
                                    <th>操作</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr ng-show="isAdd">

                                    <td>

                                        <select    class="form-control ib  input-sm  " ng-model="fm.sysId" style="width: 150px; vertical-align: bottom; ">
                                            <option value="">请选择系统</option>
                                            <option value="{{system.id}}" ng-repeat=" system in  systems">
                                                {{system.sysName}}
                                            </option>
                                        </select>
                                    </td>

                                    <td>
                                        <input type="text" class="form-control input-sm" ng-model="fm.resourceName" placeholder="用户登录" required />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" ng-model="fm.resourceValue" placeholder="/user/login" required />
                                    </td>

                                    <td>
                                        <a class="ib"   ng-click="add()" >
                                            <i class="fa  fa-plus text-primary   "></i>
                                        </a>

                                        <a class="ib m-l removeCk" ng-click="resetFm()">
                                            <i class="fa fa-reply text-primary "></i>
                                        </a>
                                    </td>
                                </tr>

                                <tr ng-repeat="resource in systemResourcePosts">
                                    <td>{{resource.sysCode}}</td>

                                    <td>
                                        {{resource.resourceName}}

                                    </td>

                                    <td>{{resource.resourceValue}}</td>

                                    <td>
                                        <a href  ui-toggle-class  ng-click="edit(resource)">
                                            <i class="fa fa-floppy-o text-primary  text-active "></i>
                                            <i class="fa fa-pencil-square-o text-primary  text"></i>
                                        </a>

                                        <a class="ib m-l removeCk" ng-click="delete(resource)">
                                            <i class="fa fa-times text-primary   "></i>
                                        </a>
                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </form>
                    </div>

                </table-paging>

            </div>
        </div>



    </div>
</div>